<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>
    <body >

            <!-- Page Content-->
            <div class="container px-5 my-5" th:fragment="resume">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Professional Overview</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <!-- Experience Section-->
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="https://drive.google.com/file/d/1viHVQ6YGF0KNyh8kVJNblf5Pa0kWzJ-f/view?usp=sharing">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    Download Resume
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Jan 2025 - Feb 2025</div>
                                                <div class="small fw-bolder">Java Developer Intern</div>
                                                <div class="small text-muted">Cognifyz Technologies</div>
                                                <div class="small text-muted">Remote</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>I'm working on some basic java projects from level 1 to level 3 projects, and learning concept like string manipulation, file handling , network programming, client server messing exchange, handling multithreading concept, concurrent programming, event handling, api integration etc.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Experience Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">Apr 2024 - May 2024</div>
                                                <div class="small fw-bolder">Data Scientist</div>
                                                <div class="small text-muted">Expoys Data labs</div>
                                                <div class="small text-muted">Remote</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>During my Data Science internship, I worked on a Diabetes Prediction System using machine learning.

                                            Key Tasks:
                                            Data Preprocessing: Cleaned and normalized medical data (glucose, BMI, blood pressure, etc.).
                                            EDA: Used Python libraries (Pandas, Seaborn) to analyze patterns and visualize data.
                                            Model Building: Applied Logistic Regression, Random Forest, and SVM for prediction.
                                            Evaluation: Measured accuracy using precision, recall, F1-score, and ROC-AUC.
                                           </div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Education Section-->
                        <section>
                            <h2 class="text-secondary fw-bolder mb-4">Education</h2>
                            <!-- Education Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2022 - 2026</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">Dr.APJ Abdul Kalam Technical University,Lucknow</div>
                                                    <div class="small text-muted">Greater Noida</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">B.Tech</div>
                                                    <div class="small text-muted">Computer Science And Engineering</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>B.Tech in Computer Science and Engineering 🎓
                                            Dr. APJ Abdul Kalam Technical University, Greater Noida
                                            Skilled in Java full-stack development, DSA, and web technologies.
                                            Built projects using Spring Boot, React.js, and MySQL.
                                            Participated in hackathons and technical workshops, enhancing problem-solving skills.</div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Education Card 2-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="row align-items-center gx-5">
                                        <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-secondary fw-bolder mb-2">2019 - 2021</div>
                                                <div class="mb-2">
                                                    <div class="small fw-bolder">D.S College ,Katihar </div>
                                                    <div class="small text-muted">Katihar</div>
                                                </div>
                                                <div class="fst-italic">
                                                    <div class="small text-muted">Intermediate in Science</div>
                                                    <div class="small text-muted">PCM</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-8"><div>Intermediate in Science (PCM)
                                            D.S College, Katihar (2019 – 2021)
                                            Studied Physics, Chemistry, and Mathematics, building a strong foundation in analytical and problem-solving skills.
                                            Scored consistently well in core science subjects, demonstrating academic proficiency.
                                            Participated in science-related activities and projects, enhancing practical knowledge.</div></div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Divider-->
                        <div class="pb-5"></div>
                        <!-- Skills Section-->
                        <section>
                            <!-- Skillset Card-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <!-- Professional skills list-->
                                    <div class="mb-5">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Java Full Stack Development (Java, Spring Boot, React.js)</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Database Management (MySQL, MongoDB,PostgreSQL)</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Version Control (Git, GitHub)</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Problem Solving & Debugging</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">REST API & Microservices Development</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">User Interface Design</div></div>
                                        </div>
                                    </div>
                                    <!-- Languages list-->
                                    <div class="mb-0">
                                        <div class="d-flex align-items-center mb-4">
                                            <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                            <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3 mb-4">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JAVA</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Tailwind CSS</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">React js</div></div>
                                        </div>
                                        <div class="row row-cols-1 row-cols-md-3">
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">SQL</div></div>
                                            <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML-5</div></div>
                                            <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>

    </body>
</html>
